body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h3,
p {
  color: #c3c9f8;
  font-family: "arial";
}
.bg-container {
  background-color: #050b47;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 7vh 3vw 7vh 4vw;
  width: 100vw;
  height: 50vh;
}
.card {
  background-repeat: no-repeat;
  background-size: 20vw 50vh;
  background-position: top -13vh right 0;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  width: 20vw;
  height: 50vh;
}
.card-container-1 {
  background-image: url("./Jesse_Pinkman_S5B.png");
}

.image {
  height: 5vh;
}
.about-container {
  margin-top: 30vh;
  padding-left: 2vw;
  padding-bottom: 1vh;
  height: 20vh;
  background-color: #000a26;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
.card-container-2 {
  background-image: url("Walter_White_S5B.png");
}
.uber-image {
  height: 4vh;
  width: 3vw;
}
.card-container-3 {
  background-image: url("Hank_Schrader_S5B.png");
}
.apple-icon {
  margin-top: 2vh;
}
.card-container-4 {
  border: 0.16rem solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.add-more {
  font-size: 1.5rem;
  margin: 0px;
}
.plus {
  font-size: 2.3rem;
}
